.footer {
    margin-top: 60px;
    min-height: 1px;
    background-color: #8bc26be8;
    width: auto;
    position: relative;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }